.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
body{
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#webcam{
  border: solid 4px white;
  width: 600px;
  height: fit-content
}
canvas{
  display: none;
}

#timer{
  color: white;
}
img{
  width: 200px;
  height: 200px;
}

#img-view{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#video-replay{
  display: none;
}
.container-for-vid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recording{
color: wheat;
}